<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_StoreCredit
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2021 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="core_layout_render_element">
        <observer name="bss_store_credit_checkbox" instance="Bss\StoreCredit\Observer\AddCheckboxToCreditmemoTotals" />
    </event>
    <event name="adminhtml_customer_save_after">
        <observer name="bss_store_credit_customer_save" instance="Bss\StoreCredit\Observer\StoreCreditCustomerSave" />
    </event>
    <event name="order_cancel_after">
        <observer name="storecredit_cancel" instance="Bss\StoreCredit\Observer\CancelOrderStoreCreditAfter"/>
    </event>
    <event name="adminhtml_sales_order_create_process_data_before">
        <observer name="order_create_apply_storecredit" instance="Bss\StoreCredit\Observer\OrderCreateApplyStoreCredit"/>
    </event>
</config>
