<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_FastOrder
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fastorder>
            <general>
                <enabled>1</enabled>
                <number_of_line>5</number_of_line>
                <automplete_min_char>2</automplete_min_char>
                <active_customer_groups>0,1,2,3</active_customer_groups>
                <max_results_show>3</max_results_show>
                <active_fastorder_in>top-menu,footer</active_fastorder_in>
                <list_template>template-2</list_template>
                <main_color>1979c3</main_color>
                <cms_url_key>fast-order</cms_url_key>
                <refresh>1</refresh>
            </general>
            <mini_fast_orde>
                <enabled>0</enabled>
            </mini_fast_orde>
            <prepopulated_product>
                <enabled>0</enabled>
                <max_results_show>5</max_results_show>
            </prepopulated_product>
        </fastorder>
    </default>
</config>
