<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CompanyAccount
 * @author     Extension Team
 * @copyright  Copyright (c) 2020 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Add new Tab -->
        <tab id="bss" translate="label" sortOrder="300">
            <label> <![CDATA[Bss Commerce]]></label>
        </tab>
        <section id="bss_company_account" translate="label" type="text" sortOrder="150" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label><![CDATA[Company Account]]></label>
            <tab>bss</tab>
            <!-- resource tag name which we have to defined in the acl.xml -->
            <resource>Bss_CompanyAccount::config_section</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label><![CDATA[General Config]]></label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label><![CDATA[Enable Company Account]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Version 1.2.4]]></comment>
                </field>
            </group>
            <group id="sub_account" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label><![CDATA[Account Notifications]]></label>
                <field id="email_sender" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Email Sender]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>

                <field id="ca_approval" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Active Company Account Email Template]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="send_approval_copy_to" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Send Active Email Copy to]]></label>
                </field>

                <field id="ca_remove" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label><![CDATA[Deactive Company Account Email Template]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>

                <field id="send_remove_copy_to" translate="label" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Send Deactive Email Copy to]]></label>
                </field>

                <field id="subuser_welcome" translate="label" type="select" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Welcome Sub-user to Company Account Email Template]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>

                <field id="subuser_remove" translate="label" type="select" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Remove Sub-user from Company Account Email Template]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>

                <field id="subuser_reset_password" translate="label" type="select" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Reset Sub-user Password Email Template]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="update" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label><![CDATA[Update User And Role Notifications]]></label>
                <field id="enable_update" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label><![CDATA[Enabled]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_sender_update" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Email Sender]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="subuser_info_update" translate="label" type="select" sortOrder="130" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Update User Email Template]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="subuser_role_update" translate="label" type="select" sortOrder="140" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Update Role Email Template]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="order" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label><![CDATA[Order Approval Notifications]]></label>
                <field id="enable_order" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label><![CDATA[Enabled]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="email_sender_order" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Email Sender]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="subuser_order_request" translate="label" type="select" sortOrder="90" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[New Order Request Email Template]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="subuser_order_placed" translate="label" type="select" sortOrder="100" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[New Order From Sub-user Email Template]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="approve_order_request" translate="label" type="select" sortOrder="110" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Approve Order Request Email Template]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="reject_order_request" translate="label" type="select" sortOrder="120" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Reject Order Request Email Template]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
