<?xml version="1.0"?>
<!--
/**
* BSS Commerce Co.
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://bsscommerce.com/Bss-Commerce-License.txt
*
* @category   BSS
* @package    Bss_ConfiguableGridView
* @author     Extension Team
* @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
* @license    http://bsscommerce.com/Bss-Commerce-License.txt
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <configuablegridview>
            <general>
                <active>1</active>
                <stock_availability>1</stock_availability>
                <stock_numer>1</stock_numer>
                <out_stock>0</out_stock>
                <sku>1</sku>
                <subtotal>1</subtotal>
                <unit_price>1</unit_price>
                <advanced_tier_price>1</advanced_tier_price>
                <table_tier_price>1</table_tier_price>
                <tooltip_tier_price>1</tooltip_tier_price>
            </general>
        </configuablegridview>
    </default>
</config>
