<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CustomPricing
 * @author     Extension Team
 * @copyright  Copyright (c) 2020 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after_data_object">
        <observer name="bss_custom_pricing_customer_save_after"
                  instance="Bss\CustomPricing\Observer\CustomerSaveAfter" />
    </event>
    <event name="customer_delete_after">
        <observer name="bss_custom_pricing_customer_delete_after"
                  instance="Bss\CustomPricing\Observer\CustomerDeleteAfter" />
    </event>
    <!-- <event name="customer_register_success">
        <observer name="bss_custom_pricing_customer_save_after"
                  instance="Bss\CustomPricing\Observer\CustomerSaveAfter" />
    </event>
    <event name="bss_customer_register_success">
        <observer name="bss_custom_pricing_customer_save_after"
                  instance="Bss\CustomPricing\Observer\CustomerSaveAfter" />
    </event> -->
</config>
