<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_HidePrice
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2021 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ProductRepository">
        <plugin name="bss_hideprice_api_query_products" type="Bss\HidePrice\Plugin\Api\QueryProducts" sortOrder="10" />
    </type>

    <type name="Bss\HidePrice\Helper\Data">
        <plugin name="bss_hideprice_api_customer_group_id" type="Bss\HidePrice\Plugin\Api\Helper\Data" sortOrder="10" />
    </type>

    <type name="Magento\Quote\Model\Quote">
        <plugin name="bss_hide_price_prevent_addtoquote" type="Bss\HidePrice\Plugin\Api\Quote\Model\Quote" sortOrder="10" />
    </type>

    <type name="Magento\Quote\Api\CartManagementInterface">
        <plugin name="bss_hideprice_prevent_placeorder" type="Bss\HidePrice\Plugin\Api\CartManagement" sortOrder="10" />
    </type>
</config>
